*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #3c3a3a;
  /* perspective: 1200px; */
}
h3{
  color: aqua;
  font-size: 40px;
  margin: 30px;
  letter-spacing: 3px;
}
h3 span{
  display: inline-block;
  color: rgb(255, 119, 0);
  transform: rotateZ(-10deg);
  -webkit-transform: rotateZ(-10deg);
  -moz-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  -o-transform: rotateZ(-10deg);
}
.main{
  width: 100vw;
  height: 100vh;
  background-color: #956060;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 90vw;
  height: 95vh;
  background-color: #2db91489;
  margin:  auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cube{
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
  width: 400px;
  height: 400px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(20deg);
  transform: rotateY(20deg);
  -webkit-transform: rotateX(20deg);
  -moz-transform: rotateX(20deg);
  -ms-transform: rotateX(20deg);
  -o-transform: rotateX(20deg);
}
.face{
  position: absolute;
  top: -100px;
  width: 200px;
  height: 200px;
  background-color: #ed4d4d;
  transform: rotateX(89deg);
  -webkit-transform: rotateX(89deg);
  -moz-transform: rotateX(89deg);
  -ms-transform: rotateX(89deg);
  -o-transform: rotateX(89deg);
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
}
.back{
  position: absolute;
  top: 100px;
  width: 200px;
  height: 200px;
  background-color: #842c2c;
  transform: rotateX(91deg);
  -webkit-transform: rotateX(91deg);
  -moz-transform: rotateX(91deg);
  -ms-transform: rotateX(91deg);
  -o-transform: rotateX(91deg);
}
.left{
  perspective: 100px;
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  background-color: #781799;
  transform: rotateY(89deg);
  -webkit-transform: rotateY(89deg);
  -moz-transform: rotateY(89deg);
  -ms-transform: rotateY(89deg);
  -o-transform: rotateY(89deg);
}
.rigth{
  position: absolute;
  right:  0;
  top: 0;
  width: 200px;
  height: 200px;
  background-color: #7ec50a;
  transform: rotateY(89deg);
  -webkit-transform: rotateY(89deg);
  -moz-transform: rotateY(89deg);
  -ms-transform: rotateY(89deg);
  -o-transform: rotateY(89deg);
}
